body {

  font-family: 'Poppins', sans-serif;

  max-width: 1280px;

  margin: 0 auto;

}

main::after{

  content: '';

  min-height: 100vh;

  width: 100vw;

  position: fixed;

  top: 0;

  left: 0;

  background: linear-gradient(90deg, rgba(0,0,0,0.69) 10%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.69) 90%);

  z-index: -1;

}

.conteudo {

  display: flex;

  flex-direction: column;

  min-height: 100vh;

  justify-content: space-evenly;

}

.informacoes .logo {

  max-width: 333px;

  margin-bottom: 60px;

}

.informacoes .descricao {

  width: 50%;

  font-style: 25px;

  color: #ffffff;

  text-shadow: -0.1em 0.1em #000000;

  line-height: 37.5px;

}

.botoes-carrossel {

  display: flex;

  justify-content: center;

  gap: 22px;

}

.botoes-carrossel .botao {

  background-color: #ffffff;

  width: 22px;

  height: 22px;

  border-radius: 50%;

  border: 2px solid transparent;

  cursor: pointer;

  border-color: #ffffff;

}

.botoes-carrossel .botao.selecionado {

  background-color: #4f0000;

}

.menu-lateral {

  position: fixed;

  top: 0;

  right: 0;

  width: 75px;

  display: flex;

  justify-content: center;

  align-items: center;

  min-height: 100vh;

}

.menu-lateral ul {

  display: flex;

  flex-direction: column;

  gap: 12px;

}

.menu-lateral .icone {

  width: 25px;

  filter: invert(1);

  transition: 0.2s ease-in-out;

}

.menu-lateral .icone:hover {

  transform: scale(1.1);

}

.carrossel {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  z-index: -1;

}

.carrossel .imagem {

  width: 100%;

  height: 100vh;

  object-fit: cover;

  display: none;

  animation: mudarImagem 0.6s;

}

.carrossel .imagem.ativa {

  display: block;

}

@keyframes mudarImagem {

  from {

    opacity: 0.75;

  }

  to {

    opacity: 1;

  }

}

